/*Estilos del sitio general*/

/*Barra de navegacion*/
.navbar{
    position: sticky;
    min-height: 4rem;
    background-color: #337ab7;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
    background-image: linear-gradient(89.81deg, #F4060699 41.01%, #FF47006B 99.64%);
}
/* Principal */
html {
    position: relative;
    min-height: 100%;
    }
body {
    margin-bottom: 60px;
    background: #706e6e05;
}

/*Footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

/*FooterText*/
span .text-muted{
    color: #6c757d !important;
}

.zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom2 {
    max-height: 50%;
    max-width: 50%;
    align-content: center;
}
