.card-text{
    font-family: "Proxima Nova","-apple-system","Helvetica Neue","Helvetica","Roboto","Arial,sans-serif";
    font-style: normal;
    color: #646262;
    font-size: small;
    height: 80px;
    align-self: center;
}

.card-img{
    height: 80px;
    width: 50px;
    align-self: center;
}
.container-fluid{
    background: #706e6e0d;
}

li.nav-item {
    margin: 10px 10px 10px 0;   
}

